.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
  list-style-type: none;
  margin-left: 1em;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
}

.nav a:hover,
.nav a:visited,
.nav a:active {
  color: inherit;
}
