.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.btnPlay {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.controls input {
  transform: rotate(-90deg) translateX(50%);
  transform-origin: center;
  width: 3em;
  display: block;
}

.play {
  font-size: 5rem;
}

.hidden {
  visibility: hidden;
}
